<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <img src="~/images/logo.png" width="50px">
    <div class="my-nav">
        <a href="@Url.Action("ToDo")">Todo</a>
        <a href="@Url.Action("Shop")">Shop</a>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/knockout-3.4.2.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
